<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Détection de tumeurs cérébrales à l'aide de l'apprentissage profond</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>
<body style="background-color: rgb(30, 34, 39);">
<nav class="navbar navbar-dark bg-dark" style="background-image: url('/static/CaptureDFG.PNG'); background: size 100px;; background-repeat: no-repeat; background-position: center center;">

    <div class="container">
        <img src="/static/CaptureDFG.PNG" alt="School Logo" id="school-logo">
        <!--<a class="navbar-brand" href="#">Brain Tumor Detection Using Deep Learning</a> -->
    </div>
    
</nav>

    {% block content %}
    {% endblock %}

</body>


</html>




